
$main-color: rgb(125, 247, 159);
$main-color_dark: rgb(29, 145, 71);
$headers-font: 'Oswald', sans-serif;
$text-font:'PT Serif', serif, large;

@mixin maxWidth{
  max-width: 1000px;
  margin: 0 auto;
}

body{
  background-color: #ddffdf;
}

.header{
background-color: $main-color;
}

.mainNav{
 margin: 0 auto;
 display: flex;
 flex-flow: row nowrap;
 justify-content: space-around;
 @include maxWidth();
 align-items: flex-end;
  font-family: $headers-font;

  &__logo{
    margin-right: auto;
    height: 50px;
    animation: logo 3s
  }

  &_active{
    background-color: $main-color_dark+(-50);
  }

  &_nonActive{
    background-color: rgba(255, 255, 255, 0.3);
  }

  &__menuButton{
    text-decoration: none;
    font-size: 2em;
    color: black;
    display: none;
    padding: 5px;
  }

  &__productionLink{

  }

  &__vacanciesLink{

  }

  &__contactLink{

  }

  &_link{
  margin: 5px;
  width: 20%;
  color: black;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: center;
  font-weight: 100;
  font-size: 1.2em;
  border-radius: 15px;
  box-shadow: 2px -2px 10px black;

  &:hover{
    background-color: $main-color_dark+(-30);
  }
}

}

.intro{
  @include maxWidth();
  background-image: url(../image/forests-personalization-walks.jpg);
  background-attachment: fixed;
  background-position-y: -50px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  &__name{
    font-size: 5em;
    text-align: center;
    flex: 1 1 300px;
    font-weight: bold;
    color: #43af73;
    mix-blend-mode: difference;
    text-shadow: 1px 1px 3px white;
    font-family: $headers-font;
  }
  &__description{
    flex: 1 1 300px;
    background-color: rgba(245, 255, 236, 0.5);
    padding: 20px;
    border-radius: 30px;
    color: #000000;
    font-family: $text-font;
  }
}

.content{
  @include maxWidth();
  &__head{
    text-align: center;
    font-size: 2em;
    color: $main-color_dark;
    font-family: $headers-font;
  }
}



.boxes{
  display: flex;
  flex-flow:  row wrap;
  @include maxWidth();

  &_threeColumn {
    flex: 1 1 250px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    background-color: $main-color;
    display: flex;
    flex-flow: column;
    box-shadow: inset 2px 2px 5px black, inset -2px -2px 5px black;
    text-align: justify;
    font-family: $text-font;

  }

  &__more{
    margin-top: auto;
    padding: 5px;
    text-align: center;
  }

  &__button{
    text-decoration: none;
    color: black;
    display: inline-block;
    background-color: $main-color_dark;
    padding: 5px;
    border-radius: 7px;
    &:hover{
      background-color: $main-color_dark+(-50);
    }
  }
}

.footerSection{
  @include maxWidth();
  background-color: $main-color;
  display: flex;
  flex-flow: row wrap;
  color: black;
  padding: 10px;
  font-family: $text-font;

  &__copyright {
    flex: 2 1 500px;
    margin-left: 30px;
  }
  &__signup {
    flex: 1 1 250px;
    margin-left: 30px;
  }
  &__signup label {
    width: 100%;
  }
  &__signup input[type="email"] {
    border-radius: 4px 0 0 4px;
    flex: 1;
    border-width: 0;
    font-size: 1.1em;
  }
  &__signup input[type="submit"] {
    border-radius: 0 4px 4px 0;
    padding: 0 10px;
    background-color: $main-color_dark;
    color: white;
    border-width: 0;
    font-size: 1em;
  }
  &__container{
    display: flex;
    flex-flow: row wrap;
  }
}




@keyframes logo {
  from {
    transform: rotate(0) scale(.5);
  }

  50% {
    transform: rotate(-720deg) scale(.5);
  }

  to {
    transform: rotate(0) scale(1);
  }
}

@media screen and (max-width: 630px) {
  .mainNav .mainNav_link {display: none;}
  .mainNav .mainNav__menuButton {
    display: block;
  }

  .mainNav.mainNav_mobile {
  flex-flow: row wrap;
  }

  .mainNav.mainNav_mobile .mainNav_link{
    display: block;
    width: 100%;
    align-self: center;
  }
}



